<!DOCTYPE html>
<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
</style>
<html>

<head>
    <title>Construnir Engenharia</title>
    <meta name="engenharia civil" content="construção a baixo custo">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    </head>

<body>
    <header class="main-header">
        <nav class="nav">
            <ul>
                <li><a href="#pagina_inicial"> Página inicial </a></li>
                <li><a href="#quem_somos"> Quem somos </a> </li>
                <li><a href="#o_que_fazemos">O que fazemos</a></li>
                <li><a href="#portfolio"> Portfólio</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>

        <br>
        <hr><br>
        <img width="100px" src="Imagens/Imagem 2.png">
        <h1> Construnir Engenharia </h1>
    </header>
    <section>
        <h2 id="pagina_inicial"> Página inicial </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat nisl dolor, quis volutpat quam
            convallis non. Fusce rutrum augue in interdum finibus. Nullam finibus ante a bibendum pretium. Donec
            scelerisque justo eget augue varius porta. Morbi tempus massa libero, ac porta metus venenatis id. Cras
            venenatis tempor mattis. Etiam neque sapien, fringilla eget finibus vitae, gravida ac orci. Aliquam vitae
            odio a erat ullamcorper semper. Sed fringilla est lectus, in interdum lacus aliquam a. Pellentesque aliquam,
            ligula in sagittis convallis, diam libero rhoncus felis, eu finibus augue magna a magna. Aliquam eros elit,
            suscipit ut ex sit amet, facilisis pharetra felis. Etiam luctus fermentum dui, at aliquet ante mattis sed.
            Maecenas eu lorem aliquam, pulvinar nibh congue, gravida elit. Aliquam pharetra, augue et tempor blandit,
            ante quam consequat dolor, eget tristique libero metus ac enim. Curabitur magna libero, condimentum ac
            tellus vitae, tincidunt sagittis tortor. </p>

    </section>
    <br>
    <hr><br>
    <section>
        <h2 id="quem_somos"> Quem somos </h2>
        <p>
            Somos um grupo de três pessoas que se conheceram durante o curso de Engenharia Civil, Thaís Helena, Júlio
            Alves e Carolina Brito.
        </p>
        <img width="1000px" src="Imagens/Quem somos.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat nisl dolor, quis volutpat quam
            convallis non. Fusce rutrum augue in interdum finibus. Nullam finibus ante a bibendum pretium. Donec
            scelerisque justo eget augue varius porta. Morbi tempus massa libero, ac porta metus venenatis id. Cras
            venenatis tempor mattis. Etiam neque sapien, fringilla eget finibus vitae, gravida ac orci. Aliquam vitae
            odio a erat ullamcorper semper. Sed fringilla est lectus, in interdum lacus aliquam a. Pellentesque aliquam,
            ligula in sagittis convallis, diam libero rhoncus felis, eu finibus augue magna a magna. Aliquam eros elit,
            suscipit ut ex sit amet, facilisis pharetra felis. Etiam luctus fermentum dui, at aliquet ante mattis sed.
            Maecenas eu lorem aliquam, pulvinar nibh congue, gravida elit. Aliquam pharetra, augue et tempor blandit,
            ante quam consequat dolor, eget tristique libero metus ac enim. Curabitur magna libero, condimentum ac
            tellus vitae, tincidunt sagittis tortor.</p>
    </section>
    <br>
    <hr><br>
    <section>
        <h2 id="o_que_fazemos"> O que fazemos </h2>
        <p>
            Nosso propósito é impactar a comunidade de onde viemos e retribuir de alguma forma.
            Desta forma, nós fazemos obras e construções em casas nas favelas e comunidades a preços baixos, pois assim
            acreditamos que
            mais pessoas terão a oportunidade de viver uma vida mais salubre e com qualidade.

        </p>
    </section>
    <br>
    <hr><br>
    <section>
        <h2 id="portfolio"> Portfólio </h2>
        <div>
            <div>
                <img width="250px" src="Imagens/Creche_frente_antes.png">
                <br>
                <strong>Reforma creche do Chié</strong>
                &lt;&gt;<h5><a href="#contato">Fale conosco!</a></h5>
            </div>
            <br>
            <div>
                <img width="250px" src="Imagens/aldeia.jpg">
                <br>
                <strong>Reforma Aldeia</strong>
                &lt;&gt;
                <h5><a href="#contato">Fale conosco!</a></h5>
            </div><br>
            <div>
                <img width="250px" src="Imagens/restaurante[.jpg">
                <br>
                <strong>Reforma Restaurante</strong>
                &lt;&gt;
                <h5><a href="#contato">Fale conosco!</a></h5>
            </div>
            <br>
            <div>
                <img width="250px" src="Imagens/coberta.jpg">
                <br>
                <strong>Reforma coberta</strong>
                &lt;&gt;
                <h5><a href="#contato">Fale conosco!</a></h5>
            </div><br>
            <div>
                <img width="250px" src="Imagens/calçada.jpg">
                <br>
                <strong>Reforma calçada</strong>
                &lt;&gt;
                <h5><a href="#contato">Fale conosco!</a></h5>
                <br></div>
        </div>
    </section>
    <br>
    <hr><br>
    <section>
        <h2 id="contato"> Contato </h2>
        <p>
            Fale conosco a qualquer momento e em breve retornaremos
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>Formulário de contato</legend>
                    <label for="email">Nome</label>
                    <input id="user_name" type="text" placeholder="Digite seu nome" required>
                    <label for="email">Telefone</label>
                    <input id="user_phone" type="text" placeholder="(xx) xxxxx-xxxx" required>
                    <label for="email">Email</label>
                    <input id="user_email" for="email" type="text" placeholder="Digite seu email" required>
                    <label for="email">Sua mensagem</label>
                    <textarea id="user_message" name="text" placeholder="Deixe uma mensagem" cols="40"
                        rows="5"></textarea>
                    <button id="send_mail" class="pure-button pure-button-primary" type="button">ENVIAR</button>
                </fieldset>
            </form>
        </p>
    </section>
    <footer>
        <img width="100px" src="Imagens/Logo contrunir.png">
        <h3> Construnir Engenharia</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/construnirengenharia/">
                    <img width="50px" src="Imagens/facebook _logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/construnirengenharia/">
                    <img width="50px" src="Imagens/instagram_logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/contrunirengenharia/">
                    <img width="50px" src="Imagens/linkedin_logo.png">
                </a>
            </li>
            <li>
                <a href="https://api.whatsapp.com/send?phone=5581997327158/">
                    <img width="50px" src="Imagens/whatsapp_logo.png">
                </a>
            </li>

        </ul>
    </footer>
    <script>
        function sendEmail() {
            userName = document.getElementById("user_name").value
            userPhone = document.getElementById("user_phone").value
            userEmail = document.getElementById("user_email").value
            userMessage = document.getElementById("user_message").value

            if (userName == "" || userPhone == "" || userEmail == "" || userMessage == "") {
                alert("Todos os campos do formulário são obrigatórios.")
                return
            }

            Email.send({
                Host: "<%= ENV['HOST'] %>",
                Username: "<%= ENV['USERNAME'] %>",
                Password: "<%= ENV['PASSWORD'] %>",
                From: "<%= ENV['FROM'] %>",
                To: 'construnirengenharia@gmail.com',
                Subject: "Contato de usuário " + userEmail,
                Body: "Mensagem do usuário " + userName + " (" + userPhone + ")\n" + userMessage
            }).then(
                message => message == "OK" ? alert("Mensagem enviada!") : alert("Erro no envio")
            );
        }

        document.getElementById("send_mail").onclick = sendEmail
    </script>


</body>
<footer> Construnir Engenharia © 2019 | por Carolina Brito </footer>

</html>