@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Imagens/IMG_2775.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10px;
}